body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sort-table {
  cursor: pointer;
}
table {
  table-layout: fixed;
}
td {
  overflow: hidden;
}
th {
  font-size: 10px;
}
.small-text {
  font-size: 8px;
  color: #008000;
}